
body {
    border: 1px solid #ccc;
}

#title-bar {
    -webkit-app-region: drag;
    height: 40px;
    line-height: 22px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    font-style: oblique;
}

#title-bar a {
    -webkit-app-region: no-drag;
    display: inline-block;
    box-sizing: border-box;
    float: right;
}


#title_bar a:hover {
    border: solid 1px transparent;
    background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}


#scraping-nav {
    padding-bottom:100%;
    /*background: #f9f9f0;*/
    border-right: solid 1px #ccc;
}

#browser-content-container {
    display: inline-block;
    position: relative;
}

#main-nav-browser button, input[type="submit"], button[disabled]:hover {
    border: solid 1px transparent;
    background: transparent;
}

#main-nav-browser button:hover, input[type="submit"]:hover {
    border-color: #ccc;
    background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

#main-nav-browser button:active, input[type="submit"]:active {
    border-color: #bbb;
    background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

#location {
    width: 100%;
    -webkit-box-sizing: border-box;
}

#browser-tab-container {
    padding-left: 20px;
    margin-right: 0px;
    padding-right: 0px;
}




#browser-tab-container li span.tabLabel {
    width: 160px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*#browser-tab-container li a {*/
    /*margin-left: 160px;*/
    /*display: -webkit-flex;*/
/*}*/



#browser-view-controls {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-flex;
    -webit-flex-direction: column;
    border-bottom: solid 1px #ccc;
}

#browser-view-controls #location-form {
    -webkit-flex: 1;
    display: -webkit-flex;
    -webit-flex-direction: column;
}

#browser-view-controls #center-column {
    -webkit-flex: 1;
}

webview, .webview-container {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}

.selected, #content-container .selected {
    visibility: visible;
}

.webview-container ul {
    position: relative;
    text-align: right;
    padding: 0px;
    margin: 0px;
    z-index: 2;
    list-style-type: none;
}

.webview-container ul li {
    padding: 3px;
    background: #ff7;
    border-bottom: solid 1px #aa6;
}

webview {
    z-index: 1;
}


/* The reload button turns into a spinning trobber */
.loading #reload > span {
    -webkit-animation: spinner-animation .5s infinite linear;
    -webkit-transform-origin: 50% 55.5%;
}

@-webkit-keyframes spinner-animation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


.profile-item-frame {
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 3px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 5px solid #428bca;
}


#main-nav-profile {
    overflow-y:auto;
}
