

.CodeMirror {
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
    font-size: 14px;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}


#export-xml-area {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}
