


body {
    margin: 0;
    padding: 0;
}

.bs-docs-masthead, .bs-docs-featurette {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}


.bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #337ab7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#559ae7));
    background-image: -webkit-linear-gradient(top, #337ab7 0, #559ae7 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #559ae7 100%);
    background-image: linear-gradient(to bottom, #337ab7 0, #559ae7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#337ab7', GradientType=0);
    background-repeat: repeat-x;
}


.bs-docs-masthead h1 {
    padding-top: 20px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    font-size: 80px;
}

.bs-docs-masthead .lead {
    margin: 0 auto 30px;
    font-size: 30px;
    color: #aaccee;
}

.bs-docs-masthead .version {
    margin-top: -15px;
    margin-bottom: 30px;
    color: #fff;
}


.bs-docs-masthead + .bs-docs-featurette {
    margin-top: 0;
    border-top: 0;
}


.bs-docs-featurette {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}


.bs-docs-featurette h2 {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 40px;
    color: #333;
}


.bs-docs-featurette .lead {
    max-width: 80%;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto
}

.bs-docs-featurette .btn {
    display: inline-block;

    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;

    margin: 15px;
    padding: 15px 30px;
    font-size: 20px;
    text-shadow: none;
    background-color: #fff;
    border: solid 2px #337ab7;
    line-height: 1.3333333;
    border-radius: 6px;
    text-decoration: none;
    outline: 0;
    color:#337ab7;
}


.bs-docs-featurette .btn:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}